.SideBarOverall {
  background: #017bff;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebarIcon {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 15px;
  i.sidebar.icon {
    color: #fff;
  }
  i.times.icon {
    color: #fff;
  }
}
.DashboardIcon {
  padding-left: 16px;
  padding-left: 12px;
  padding-top: 50px;
  img.ui.image {
    width: 17px;
  }
}

.historyIcon {
  padding-top: 31px;
  padding-left: 11px;
  padding-right: 15px;
  img.ui.image {
    width: 17px;
  }
  i.history.icon {
    color: #fff;
    background: #97c8f8;
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
  }
  .ui.red.circular.label {
    position: absolute;
    top: 18%;
    font-size: 5px;
    left: 42%;
  }
}

.recordIcon {
  padding-top: 31px;
  padding-left: 12px;
  padding-right: 15px;

  .ui.red.circular.label {
    position: absolute;
    top: 24%;
    font-size: 5px;
    left: 45%;
  }
  img.ui.image {
    width: 17px;
  }
}

.cartIcon {
  padding-top: 31px;
  padding-left: 13px;
  padding-right: 15px;
  img.ui.image {
    width: 17px;
  }
}

.marketPlaceIcon {
  padding-top: 31px;
  padding-left: 18px;
  padding-right: 15px;
  i.cubes.icon {
    color: #fff;
  }

  img.ui.image {
    width: 17px;
  }
}

.forumIcon {
  padding-top: 31px;
  padding-left: 18px;
  padding-right: 15px;

  img.ui.image {
    width: 17px;
  }
}

.settingsIcon {
  position: fixed;
  bottom: 15px;
  padding-top: 31px;
  padding-left: 18px;
  padding-right: 15px;

  img.ui.image {
    width: 17px;
  }
}

// $Small: 1025px;
// $medium_Small: 1440px;

// @media (min-width: $Small) and (max-width: $medium_Small) {
//   .SideBarOverall {
//     background: #017bff;
//     position: fixed;
//     height: 100vh;
//   }
// }
