.backButton {
  position: absolute;
  border-right: 1px solid grey;
  i.arrow.circle.left.icon {
    color: #007bff;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}

.prodText {
  position: relative;
  left: 6%;
  bottom: 5px;
  left: 76px;
  img.ui.image {
    height: 34px;
  }
}

.prodRealText {
  position: absolute;
  top: 68%;
  left: 11%;
  font-size: 18px;
  font-weight: 700;
}

.OrderIdLaneClass {
  position: absolute;
  top: 104%;
  left: 2%;
  font-size: 15px;
  font-weight: 600;
}

.detBreadCrumb {
  position: absolute;
  top: 133%;
  left: 2%;
}

.detBreadCrumb {
  .ui.breadcrumb a.section {
    color: #007bff;
    font-size: 12px;
    font-weight: 600;
  }
  i.right.chevron.icon.divider {
    color: #007bff;
  }
}

.breaCrumbsLeft {
  position: absolute;
  right: 14%;
  top: 127%;
  color: #007bff;
}
.numbStat {
  position: absolute;
  right: 6%;
  top: 127%;
  color: #1e8406;
  font-weight: 600;
  font-size: 15px;
}

.detTable {
  position: absolute;
  top: 169%;
  left: 2%;
  width: 92%;
  background: #fff;
  table.ui.basic.table {
    border-radius: 0px;
  }
}

.orderAmt {
  color: #007bff;
  font-size: 11px;
  position: relative;
  left: 3%;
}

.orderValue {
  font-size: 12px;
  font-weight: 400;
}

.orderDate {
  font-size: 12px;
  font-weight: 400;
}
.deliveryMeth {
  font-size: 12px;
  font-weight: 400;
}

.orderdateIn {
  color: #007bff;
  font-size: 11px;
}

.pickUpOrd {
  color: #007bff;
  font-size: 11px;
}

.dropDownMain {
  font-size: 7px;
  position: absolute;
  left: 36%;
  top: 42%;
  .text {
    color: #1e8306;
    border-bottom: 1px dotted;
  }
}

.rushOptionText {
  font-size: 12px;
  font-weight: 400;
}

.rushText {
  color: #007bff;
  font-size: 11px;
  position: relative;
  left: 3%;
  i.checkmark.icon {
    color: white;
    background: green;
    border-radius: 25px;
    height: 21px;
    width: 21px;
    font-size: 7px;
  }
}

.status {
  font-size: 12px;
  font-weight: 400;
}

.statusPending {
  color: #007bff;
  font-size: 11px;
}

.requestedBy {
  font-size: 12px;
  font-weight: 400;
}

.requestedDate {
  color: #007bff;
  font-size: 11px;
}

.timeLeftDet {
  font-size: 10px;
}
.pickedDate {
  color: #007bff;
  font-size: 11px;
}

.productDeets {
  position: absolute;
  top: 251%;
  left: 2%;
  width: 93%;
}

.productDetailsInProductDeets {
  color: #007bff;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 3px solid #007bff;
  .divide {
    border-left: 1px solid grey;
    position: absolute;
    height: 56%;
    left: 117px;
    top: 2%;
  }
}

.historyNotes {
  position: absolute;
  left: 15%;
  font-weight: 600;
}

.workSheet {
  position: absolute;
  right: 39%;
  .text {
    color: #1e8406;
    font-weight: 600;
  }
  i.dropdown.icon {
    color: #7e7e7e;
  }
}

.printBut {
  position: absolute;
  right: 30%;
  bottom: 40%;
  button.ui.button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 26px;
    padding-right: 28px;
  }
}

.addNotes {
  position: absolute;
  right: 20%;
  bottom: 35%;
  h5.ui.header {
    margin: 0px;
    font-size: 11px;
    position: relative;
    left: 6px;
  }
  img.ui.image {
    height: 16px;
    position: absolute;
    right: 76%;
  }
  button.ui.button {
    background: #fff;
    border: 1px solid #d0d0d0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 31px;
    padding-left: 28px;
  }
}

.completeProductionButton {
  position: absolute;
  right: 1%;
  bottom: 33%;
  .text {
    color: #fff;
  }
  i.dropdown.icon {
    color: #fff;
  }
  .ui.button.floating.labeled.dropdown.icon {
    background: #007bfe;
  }
}

.overallDownload {
  position: absolute;
  top: 304%;
  background: #eeeeee;
  width: 93%;
  padding-top: 5px;
  padding-bottom: 5px;
  .productDownload {
    font-weight: 600;
    position: absolute;
    left: 7px;
    top: 27%;
  }
}

.downloadArtwork {
  border: 1px solid #007bfe;
  border-radius: 5px;
  padding-top: 6px;
  position: relative;
  right: 13%;
  height: 36px;
  top: 5%;
  padding-left: 19px;
  padding-right: 19px;
  color: #007bfe;
  font-weight: 600;
}

.clothOverall {
  position: absolute;
  top: 356%;
}

.ItemTitleOverall {
  position: absolute;
  top: 591%;
  width: 93%;
  background: #eeeeee;
  padding-top: 12px;
  padding-bottom: 12px;
}
.itemPart {
  font-weight: 600;
}
.detailPart {
  font-weight: 600;
}
.productionPart {
  font-weight: 600;
}
.colorsPart {
  font-weight: 600;
}
.quantityPart {
  font-weight: 600;
}
.paidPart {
  font-weight: 600;
}

.popSection {
  position: absolute;
  top: 630%;
  width: 93%;
}
.detailDeetPart {
  font-size: 10px;
  line-height: 14px;
}

.productionDeetPart {
  color: #ff0014;
  font-weight: 600;
}
.colorsDeetPart {
  button.ui.button {
    background: #529ded;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
  }
}

.paidDeetPart {
  i.checkmark.icon {
    color: white;
    background: green;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 6px;
    border-radius: 15px;
  }
}

.SmallShirt {
  position: relative;
  bottom: 18%;
  width: 48%;
  left: 72%;
}

.eye {
  width: 16px;
  position: relative;
  left: 23%;
  top: 12%;
}
