.leftSideProductionTitle {
  position: relative;
  left: 39px;
  margin-top: 10px;
}
.productionTitle {
  position: relative;
  right: 20px;
  background: #fcfcfc !important;
}

.rightSideProductionTitle {
  margin-top: 0px;
  position: relative;
  right: 52px;
  button.ui.primary.button {
    font-size: 11px;
    height: 39px;
  }
  i.caret.down.icon {
    padding-left: 18px;
  }
}

.greySearch {
  background: #eeeeee;
  position: relative;
  right: 48px;
  border-radius: 6px;
}

.greySearchIcons {
  margin-top: 10px;
  width: 216px;
  padding-top: 1px;
  margin-bottom: 3px;
  i.x.icon {
    position: relative;
    left: 167px;
  }
  i.search.icon {
    position: relative;
    left: 10px;
  }
}
