.leftSideProductionTitle {
  position: relative;
  left: 39px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.productionTitle {
  position: relative;
  right: 20px;
  background: #fcfcfc !important;
}

.rightSideProductionTitle {
  margin-top: 0px;
  position: relative;
  right: 52px;
}

.rightSideProductionTitle button.ui.primary.button {
  font-size: 11px;
  height: 39px;
}

.rightSideProductionTitle i.caret.down.icon {
  padding-left: 18px;
}

.greySearch {
  background: #eeeeee;
  position: relative;
  right: 48px;
  border-radius: 6px;
}

.greySearchIcons {
  margin-top: 10px;
  width: 216px;
  padding-top: 1px;
  margin-bottom: 3px;
}

.greySearchIcons i.x.icon {
  position: relative;
  left: 167px;
}

.greySearchIcons i.search.icon {
  position: relative;
  left: 10px;
}

.MainTableHeaderClass {
  margin-top: 70px;
  position: relative;
  left: 51px;
}

.allProductionClass {
  border-bottom: 4px solid #007afe;
  position: relative;
  margin-right: 27px;
}

.allProductionClass .divide {
  position: absolute;
  border-left: 1px solid #eeeeee;
  height: 56%;
  left: 129px;
  top: 12%;
}

.awaitingProductionClass {
  position: relative;
  margin-right: 64px;
}

.awaitingProductionClass .ui.red.circular.label {
  position: absolute;
  left: 106%;
  top: -2%;
}

.awaitingProductionClass .divide {
  position: absolute;
  border-left: 1px solid #eeeeee;
  height: 56%;
  left: 175px;
  top: 5%;
}

.overallRightProdduction {
  position: relative;
  right: 187px;
}

.overallRightProdduction button.ui.button {
  background: #fff;
  border: 1px solid #000;
  padding-top: 9px;
  padding-bottom: 9px;
}

.markAsCompltedDiv {
  position: relative;
  right: 170px;
  top: 25%;
}

.caretDownIcon {
  position: relative;
  right: 167px;
  top: 17%;
}

.saveButtonDiv {
  position: relative;
  right: 155px;
}

.saveButtonDiv button.ui.button {
  width: 146%;
  background: #d0d0d0;
}

.tableHeaderDetails {
  position: relative;
  left: 38px;
  width: 92%;
}

.tableHeaderDetails .ui.table {
  border: none;
}

.tableHeaderDetails th.one.wide {
  background: #eeeeee !important;
}

.tableHeaderDetails th.two.wide {
  background: #eeeeee !important;
}

.tableHeaderDetails th.five.wide {
  background: #eeeeee !important;
}

.tableHeaderDetails td img.ui.image {
  height: 33px;
}

.textBesideImage {
  position: absolute;
  font-size: 10px;
  line-height: normal;
  left: 35%;
  top: 46%;
}

.royalButton button.ui.button {
  background: #529ded;
  color: #fff;
  font-weight: 400;
}

.deliveryMethod {
  color: #ff0000;
  font-weight: 600;
  position: relative;
  left: 26%;
}

.clockIcon {
  position: absolute;
  left: 77%;
}

.deliveryTimetextOne {
  font-size: 9px;
  font-weight: 600;
}

.deliveryTimetextTwo {
  font-size: 7px;
  font-weight: 600;
  color: #1e8406;
}

.productionStatusTextOne {
  color: #1e8406;
}

.productionStatusTextTwo {
  color: #1e8406;
}

.rowdetails:hover {
  cursor: pointer;
}

@media (min-width: 1150px) and (max-width: 1250px) {
  .textBesideImage {
    position: absolute;
    font-size: 6px;
    line-height: normal;
    left: 36%;
    top: 48%;
  }
  .clockIcon {
    position: absolute;
    left: 75%;
  }
}

@media (min-width: 1050px) and (max-width: 1149px) {
  .textBesideImage {
    position: absolute;
    font-size: 4px;
    line-height: normal;
    left: 37%;
    top: 48%;
  }
  .clockIcon {
    position: absolute;
    left: 74%;
  }
}

@media (max-width: 1024px) {
  .MainTableHeaderClass {
    margin-top: 70px;
    position: relative;
    left: 77px;
  }
  .productionTitle {
    position: relative;
    right: -8px;
    background: #fcfcfc !important;
  }
  .tableHeaderDetails {
    position: relative;
    left: 4px;
    width: 78%;
  }
  .textBesideImage {
    position: absolute;
    font-size: 4px;
    line-height: normal;
    left: 39%;
    top: 46%;
  }
  .tableHeaderDetails {
    position: relative;
    left: 4px;
    width: 92%;
  }
  .tableHeaderDetails .ui.table {
    border: none;
  }
  .tableHeaderDetails th.one.wide {
    background: #eeeeee !important;
  }
  .tableHeaderDetails th.two.wide {
    background: #eeeeee !important;
  }
  .tableHeaderDetails th.five.wide {
    background: #eeeeee !important;
  }
  .tableHeaderDetails td img.ui.image {
    height: 23px;
  }
  .clockIcon {
    position: absolute;
    left: 76%;
  }
}
/*# sourceMappingURL=Production.css.map */